page-home {

	.text-black{
		color: black;
		font-weight: 600 !important;
	}

	ion-item.text-black.item.item-block {
	    border: none !important;
	}

	ion-item.item.item-block {
	    border: none !important;
	}

	.text-blue{
		color: blue !important;
	}

	.text-red{
		color: red !important;
	}


}
